.minor-section-popup {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #2a372a;
    background-color: #e8e3d0;
  }

  #map {
    height: 800px;
  }

  .localeImg {
    height: 300px;
    width: 600px;
  }